* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
}

body{
	background-color: palevioletred;
}

main{
	position: relative;
	width: 1229px;
	height: 543px;
	background: #131313;
	border-radius: 24px;
	display: flex;
	justify-content: flex-end;
	left: 15%;
	top: 200px;
}

.bodybox1{
	display: flex;
	flex-direction: column;
}


.title{
	position: relative;
	color: white;
	justify-content: flex-start; 
	align-items: flex-start; 
	padding: 30px;
	top: 2%;
	font-size: 24px;
}
.box1{
	background-color: rgb(41, 41, 41);
	width: 591px;
	height: 374px;
	border-radius: 12px;
    margin: 30px;
	padding: 30px;
	color: white;
	display: flex;
	border-left: solid #EA00FF 10px ;
	font-size: 21px;
}

.tldr{
	color:#EA00FF;
	font-weight: bolder;
}


.video{
margin: 30px;
border-radius: 12px;
}

.boutons{
	display: flex;
	justify-content: space-evenly;
}

.boutons .html{
	color: rgb(63, 212, 63) ;
	background-color: rgb(15, 56, 15);
	border: solid rgb(63, 212, 63) 2px;
	border-radius: 100px;
}
.boutons .css{
	color: rgb(63, 212, 63) ;
	background-color: rgb(15, 56, 15);
	border: solid rgb(63, 212, 63) 2px;
	border-radius: 100px;
}
.boutons .js{
	color: rgb(63, 212, 63) ;
	background-color: rgb(15, 56, 15);
	border: solid rgb(63, 212, 63) 2px;
	border-radius: 100px;
}